<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/addon-compliance-tools/1-n/index.html"><%= vars.product_full %></a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/release-notes.html">Release Notes</a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/installing.html">Installing and Configuring <%= vars.product_short %></a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/using.html">Using <%= vars.product_short %></a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/upgrading.html">Upgrading</a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/troubleshooting.html">Troubleshooting</a>
      </li>

      <li>
        <a href="/addon-compliance-tools/1-n/benchmarks.html">Benchmarks</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
